</b><h2>Hi. Welcome to the main chat page.</h2>
<br><br>
<h4>TODO: Search for a friend.</h4>
<br><br>
<h4>TODO: Display friend list. </h4>
<br><br>
<h4>TODO: Double clicking friend brings up chat. </h4>
<br><br>
<h4>TODO: Move Easter candy out of reach.</h4>
<br><br>
<h4>TODO: Handle chat window with HTML5 Websockets.</h4>


