<!DOCTYPE html>
<!--
    File:   http://www.cs.uml.edu/~eseto/Data_Communications_II/register.html
    91.414 Data Communications II Project (MercuriChat)
    Emily Seto, Undergraduate Computer Science student at UMass Lowell, emily_seto@student.uml.edu
    Copyright (c) 2016 by Emily W. Seto. All rights reserved. May be freely copied or excerpted for
        educational purposes with credit to the author.
    The objective of this first assignment is to create an index for upcoming assignments in GUI.
    Updated by EWS on March 13, 2016 at 3:26 AM
-->
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MercuriChat - Get Started</title>

		<!-- Latest compiled and minified CSS from Bootstrap: -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- CSS customizations included and written by Emily Seto. -->
		<%= stylesheet_link_tag "index.css" %>
	</head>
	<body>
		<!-- Navigation bar information from: http://getbootstrap.com/components/#navbar. -->
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped together for better mobile display. -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation.</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">MercuriChat</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling. -->
				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="register.html">Get Started</a></li>
						<li><a href="sign-in.html">Sign In</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="team.html">The Team</a></li>
					</ul>
				</div>
			</div>
		</nav><!-- End of navigation bar. -->

		<!-- Beginning of "Getting Started". -->
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>Welcome to <strong>MercuriChat!</strong></h2>
					<p>We will send you an email once we have successfully registered your information in our system shortly.</p>
				</div>
			</div>
		</div>

		<!-- Beginning of Registration form. -->
		<div class="container">
			<form class="form-horizontal">
				<!-- First Name entry: -->
				<div class="form-group">
					<label for="firstName" class="col-sm-2 control-label">First Name:</label>
					<div class="col-sm-8">
						<input type="text" name="firstName" class="form-control" id="firstName" placeholder="First Name">
					</div>
				</div><!-- End of First Name entry. -->

				<!-- Last Name entry: -->
				<div class="form-group">
					<label for="lastName" class="col-sm-2 control-label">Last Name:</label>
					<div class="col-sm-8">
						<input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last Name">
					</div>
				</div><!-- End of Last Name entry. -->

				<!-- Email Address entry: -->
				<div class="form-group">
					<label for="emailAddress" class="col-sm-2 control-label">E-mail:</label>
					<div class="col-sm-8">
						<input type="text" name="emailAddress" class="form-control" id="emailAddress" placeholder="Email Address">
					</div>
				</div><!-- End of Email Address entry. -->

				<!-- Password entry: -->
				<div class="form-group">
					<label for="password1" class="col-sm-2 control-label">Password:</label>
					<div class="col-sm-8">
						<input type="text" name="password1" class="form-control" id="password1" placeholder="Password">
					</div>
				</div><!-- End of Password entry. -->

				<!-- Password Re-Check entry: -->
				<div class="form-group">
					<label for="password2" class="col-sm-2 control-label">Password:</label>
					<div class="col-sm-8">
						<input type="text" name="password2" class="form-control" id="password2" placeholder="Re-enter password">
					</div>
				</div><!-- End of Password Re-Check entry. -->

				<button type="submit" class="btn btn-default">Submit</button>
			</form><!-- End of registration form. -->
		</div>
		
	</body>
</html>
